header {
  width: 100%;
  display: flex;
  flex: wrap;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: var(--rtc-padding-l);
}
header > h1 {
  font-size: var(--rtc-fontsize-l);
}
header > nav > ul > li {
  font-size: var(--rtc-fontsize-s);
}

header > nav {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
header > nav > ul {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.navList > li {
  cursor: pointer;
}
.navList > li:hover {
  color: chocolate;
}
.selected {
  color: chocolate;
}

/* Media query para tablet */
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    gap: var(--rtc-gap-l);
  }
  header > nav > ul {
    flex-wrap: wrap;
  }
}
