#hero {
  height: 100%;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: white;
}
#hero h2 {
  font-size: 2.5em;
  cursor: pointer;
}
#hero p {
  font-size: 1em;
  margin-bottom: 20px;
}

#hero h4 {
  font-size: 1.5em;
  color: #2980b9;
  margin-top: 30px;
  margin-bottom: 10px;
}

.avatarIcon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: var(--rtc-margin-s);
}

.aboutMe > h3 {
  font-size: 1.2em;
  color: #a2a4a5;
  border-bottom: 2px solid #2980b9;
  font-weight: bold;
  margin-bottom: 30px;
}

.aboutMe > p {
  font-size: 1em;
}
.allCards {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.allCards > li {
  background-color: white;
  color: black;
  padding: 20px 20px;
  cursor: pointer;
}
.card {
  border-radius: 10px;
}
.card > h3 {
  font-size: 1.2em;
  color: #a2a4a5;
  border-bottom: 2px solid #2980b9;
  font-weight: bold;
  margin-bottom: 30px;
}
.card > p {
  font-size: 1em;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.progLang {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.progLang > li {
  padding: 5px 10px;
  background-color: coral;
  border-radius: 10%;
}
#hero ul.section {
  list-style: none;
  padding: 0;
}

#hero ul.section li {
  font-size: 1.1em;
  background: #ecf0f1;
  margin: 5px 0;
  padding: 10px;
  border-left: 4px solid #2980b9;
  border-radius: 4px;
}

#hero ul.section li:not(:last-child) {
  margin-bottom: 10px;
}

.proyectUl {
  max-width: 100%;
  display: flex;
  height: fit-content;
  margin-bottom: var(--rtc-margin-l);
  justify-content: space-around;
}
.proyectUl > li {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.proyectUl > li > a {
  align-self: center;
}
